<div class="container">
    <div *ngFor="let druif of (druiven | async)">
        <div class="row m-2">
            <div class="col-md"></div>
            <div class="col-md">
                {{druif.druifsoort}}
            </div>
            <div class="col-md-2">
                <button class="button" mat-raised-button color="primary" (click)="open(content, druif)">Edit</button>
                <button class="button" mat-raised-button color="warn" (click)="Delete(druif)">Delete</button>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Druifsoort:</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form [formGroup]="createDruifSoortForm" (ngSubmit)="onSubmit()">

                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Naam van de druif" [(ngModel)]="druifModel.druifsoort"
                                formControlName="naam" type="text" name="DruifSoort" />
                        </mat-form-field>
                    </p>
                    <button type="button" class="btn btn-outline-dark" (click)="Edit()"
                        (click)="modal.dismiss('Cross click')">Save</button>
                </form>
            </div>
        </form>
    </div>

</ng-template>