<div class="center-title">
  <h1>Alarmeringswaarden aanpassen</h1>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="CO²">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <app-co></app-co>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Druk">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <app-druk></app-druk>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Ethanol">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <app-ethanol></app-ethanol>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Temperatuur">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <app-temperatuur></app-temperatuur>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Troebelheid">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md">
          <app-troebelheid></app-troebelheid>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>