
<div class="container">
    <div *ngFor="let event of (events | async)">
        <div class="row m-2">
            <div class="col-md"></div>
            <div class="col-md">
                {{event.naam}}
            </div>
            <div class="col-md-2">
                <button mat-raised-button color="primary" (click)="open(content, event)">Edit</button>

                <button mat-raised-button color="warn" (click)="Delete(event)">Delete</button>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Event:</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Naam event" [(ngModel)]="Model.naam" formControlName="naam"
                                type="text" name="Event" />
                        </mat-form-field>
                    </p>
                </form>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="Edit()"
                (click)="modal.dismiss('Cross click')">Save</button>
        </form>
    </div>

</ng-template>