<div class="center-title">
    <h1>Data toevoegen</h1>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="DruifSoorten">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-druif-soort-toevoegen></app-druif-soort-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Events">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-event-toevoegen></app-event-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Methodes">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-methode-toevoegen></app-methode-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Metingen">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-meting-toevoegen></app-meting-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vaten">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-vat-toevoegen></app-vat-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Gebruikers">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-gebruiker-toevoegen></app-gebruiker-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Wijntypes">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-wijntype-toevoegen></app-wijntype-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Materialen">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md">
                    <app-materiaal-toevoegen></app-materiaal-toevoegen>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>