<h1>Alarmeringswaarden aanpassen</h1>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="DruifSoorten">
        <app-druif-soort-toevoegen></app-druif-soort-toevoegen>
    </mat-tab>
    <mat-tab label="Events">
        <app-event-toevoegen></app-event-toevoegen>
    </mat-tab>
    <mat-tab label="Methodes">
        <app-methode-toevoegen></app-methode-toevoegen>
    </mat-tab>
    <mat-tab label="Metingen">
        <app-meting-toevoegen></app-meting-toevoegen>
    </mat-tab>
    <mat-tab label="Vaten">
        <app-vat-toevoegen></app-vat-toevoegen>
    </mat-tab>
    <mat-tab label="Gebruikers">
        <app-gebruiker-toevoegen></app-gebruiker-toevoegen>
    </mat-tab>
    <mat-tab label="Wijntypes">
        <app-wijntype-toevoegen></app-wijntype-toevoegen>
    </mat-tab>
    <mat-tab label="Materialen">
        <app-materiaal-toevoegen></app-materiaal-toevoegen>
    </mat-tab>
</mat-tab-group>