<div>
    <div class="center-title">
        <h1>Kies een proces om af te sluiten</h1>
    </div>
    <div class="container">
        <div >
            <div *ngFor="let proces of (processen | async) ">
                <div class="row">
                    <div class="col-md"></div>
                    <div class="col-md m-2 alert alert-secondary">
                        <div class="row">
                            <div class="col-sm-6 text-center h5">{{proces.vat?.nummer}}</div>
                            <div class="col-sm-6 text-center h5"><button mat-raised-button color="warn" addEventForm (click)="Sluit(proces)">
                                Sluit af
                            </button></div>
                        </div>
                        
                        
                    </div>
                    <div class="col-md"></div>
                </div>
            </div>
        </div>
    </div>
</div>