<div class="center-title">
    <h1>
        Alarmeringspersonen beheren
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">

            <mat-form-field>
                <mat-label>Kies een gebruiker</mat-label>
                <mat-select (selectionChange)="onSelect($event.value)"
                    [(ngModel)]="AlarmDataGebruikerModel.gebruikerId">
                    <mat-option *ngFor="let gebruiker of (gebruikers | async)" [value]="gebruiker.id">
                        {{gebruiker.voornaam}} {{gebruiker.naam}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md">
            Alarm
            <div *ngFor="let proces of (processenSub | async)">
                <button mat-raised-button color="warn" (click)="delete(proces)">Delete
                    alarm</button>{{proces.vat?.nummer}}
            </div>
        </div>
        <div class="col-md">
            Geen alarm
            <div *ngFor="let proces of (processenNot | async)">
                <button mat-raised-button color="primary" (click)="add(proces)">Add
                    alarm</button>
                {{proces.vat?.nummer}}
            </div>
        </div>


        <div class="col-md"></div>
    </div>
</div>