<h1>Alarmeringswaarden aanpassen</h1>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="DruifSoorten">
        <app-druif-beheren></app-druif-beheren>
    </mat-tab>
    <mat-tab label="Events">
        <app-event-beheren></app-event-beheren>
    </mat-tab>
    <mat-tab label="Methodes">
        <app-methode-beheren></app-methode-beheren>
    </mat-tab>
    <mat-tab label="Metingen">
        <app-meting-beheren></app-meting-beheren>
    </mat-tab>
    <mat-tab label="Vaten">
        <app-vat-beheren></app-vat-beheren>
    </mat-tab>
    <mat-tab label="Gebruikers">
        <app-gebruiker-beheren></app-gebruiker-beheren>
    </mat-tab>
</mat-tab-group>