<mat-card class="login-card">
    <mat-card-title class="login-card-title">Login to continue</mat-card-title>

    <form (ngSubmit)="onSubmit()">

        <div class="login-container">
            <p>
                <mat-form-field>
                    <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="login.email" />
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" name="password"
                        [(ngModel)]="login.wachtwoord" />
                </mat-form-field>
            </p>


            <mat-card-actions>
                <div>
                    <button mat-raised-button color="primary" class="login-card-button" type="submit">Login</button>
                </div>
                <div class="div-login-register-link">
                    <a class="login-register-link" routerLink="/register" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Not registered yet? Click here!</a>
                </div>
            </mat-card-actions>

        </div>
    </form>
</mat-card>