<h1>Alle methodes</h1>
<ul>
    <li *ngFor="let methode of (methodes | async)">
        <div>
            <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
                <div fxFlex="15%">
                    {{methode.methode}}
                </div>
                <div fxFlex="5%">
                    <button mat-raised-button color="primary" (click)="open(content, methode)">Edit</button>
                </div>
                <div fxFlex="5%">
                    <button mat-raised-button color="warn" (click)="Delete(methode)">Delete</button>
                </div>
                <div fxFlex="75%">

                </div>
            </div>
        </div>
    </li>
</ul>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Persmethode:</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Naam persmethode" [(ngModel)]="Model.methode"
                                formControlName="naam" type="text" name="Methode" />
                        </mat-form-field>
                    </p>
                    <button type="button" class="btn btn-outline-dark" (click)="Edit()"
                        (click)="modal.dismiss('Cross click')">Save</button>
                </form>
            </div>
        </form>
    </div>

</ng-template>