<form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <h1>Maak een nieuwe gebruiker aan</h1>

    <p>
        <mat-form-field>
            <mat-label>Kies een rol</mat-label>
            <mat-select formControlName="rol" [(ngModel)]="model.rolId">
                <mat-option *ngFor="let rol of (rollen | async)" [value]="rol.id">
                    {{rol.rolnaam}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Voornaam" [(ngModel)]="model.voornaam" formControlName="voornaam" type="text"
                name="DruifSoort" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Achternaam" [(ngModel)]="model.naam" formControlName="achternaam" type="text"
                name="DruifSoort" />
        </mat-form-field>
    </p>

    <div>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="model.email" formControlName="email" type="text"
                name="Email" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Code van PushApp" [(ngModel)]="model.telefoonnummer"
                formControlName="telefoonnummer" type="text" name="Telefoonnummer" />
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput placeholder="Wachtwoord" [(ngModel)]="model.wachtwoord" formControlName="wachtwoord"
                type="text" name="Wachtwoord" type="password" />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Wachtwoord" formControlName="wachtwoordc" type="text"
                name="Wachtwoordc" type="password" />
        </mat-form-field>
    </div>



    <div>

        <button [disabled]="!Form.valid" mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>