<ul>
    <li *ngFor="let p of (processen | async)">{{p.vat?.nummer}}</li>
</ul>

<!-- <mat-table [dataSource]="processen" class="mat-elevation-z8">
    
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let p of (processen | async)"> {{p.id}} </mat-cell>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let p of (processen | async)"> {{p.vat?.nummer}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

