<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let p of (processen | async)">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                <h5 class="card-title">{{p.vat?.nummer}} - Vinificatie {{p.id}}</h5>
                </div>
                <iframe class="card-img-top" [src]="sanitizer.bypassSecurityTrustResourceUrl(p.iframe)" frameborder="0" width="100%" height="98%"></iframe>
                <div class="card-body">
                    <ul>                        
                        <li>Wijnsoort: {{p.wijnType?.naam}}</li>                    
                        <li>Jaargang: {{p.jaargang}}</li>
                        <li>Pershoeveelheid: {{p.persHoeveelheid}}L</li>
                    </ul>
                </div>
                <div class="card-footer">
                <a [routerLink]="['/dashboard/' + (p.vatId)]" class="btn btn-primary">Dashboard</a>
                <a [routerLink]="['/detail/' + (p.vatId)]" class="btn btn-primary float-right">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>