<div class="center-title">
    <h1>Voeg een event toe!</h1>
</div>
<form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <div>
                    <mat-form-field>
                        <mat-label>Kies een vat</mat-label>
                        <mat-select formControlName="vat" [(ngModel)]="eventModel.vinificatieId">
                            <mat-option *ngFor="let proces of (processen | async)" [value]="proces.id">
                                {{proces.vat?.nummer}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Soort event</mat-label>
                        <mat-select formControlName="soortEvent" [(ngModel)]="eventModel.soortEventId">
                            <mat-option *ngFor="let event of (events |async)" [value]="event.id">
                                {{event.naam}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <div class="input-wrapper">
                    <div>
                        <label>Datum en tijd:</label></div>
                    <div>
                        <input [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" [(ngModel)]="eventModel.datum"
                            formControlName="datum">
                        <owl-date-time #dtPicker1></owl-date-time>
                    </div>
                </div>
            </div>

            <div class="col-md"></div>

        </div>
    </div>
    <div class="center-button">
        <button [disabled]="!addEventForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
    </div>

</form>