<h1>Voeg een event toe!</h1>
<form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
    <p> 
        <mat-form-field>
               <mat-label>Kies een vat</mat-label>
               <mat-select formControlName="vat">
                   <mat-option *ngFor="let vat of (vaten | async)" [value]="vat.id">
                       {{vat.nummer}}
                   </mat-option>
               </mat-select>
           </mat-form-field> 
       </p>

    <p>
        <mat-form-field>
            <mat-label>Soort event</mat-label>
            <mat-select formControlName="soortEvent" [(ngModel)]="eventModel.soortEventId">
                <mat-option *ngFor="let event of (events |async)"  [value]="event.id">
                    {{event.naam}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    

    <div class="row">
        <p class="ml-4">
            <button [disabled]="!addEventForm.valid" mat-raised-button color="primary"
                type="submit">Submit</button>
        </p>

    </div>
</form>