<div class="center-title">
    <h1>Voeg een meting toe!</h1>
</div>
<form [formGroup]="addMetingForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <div>
                    <mat-form-field>
                        <mat-label>Kies een vat</mat-label>
                        <mat-select formControlName="vat" [(ngModel)]="metingModel.vinificatieId">
                            <mat-option *ngFor="let proces of (processen | async)" [value]="proces.id">
                                {{proces.vat?.nummer}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="col-md"></div>
        <div class="row">
            <div class="col-md"></div>

            <mat-form-field>
                <input matInput placeholder="Metingswaarde" [(ngModel)]="metingModel.meting"
                    formControlName="Metingswaarde" type="text" name="Metingswaarde" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Kies een metingsType</mat-label>
                <mat-select formControlName="soortMeting" [(ngModel)]="metingModel.soortMetingId">
                    <mat-option *ngFor="let type of (metingen | async)" [value]="type.id">
                        {{type.naam}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <div class="input-wrapper">
                    <div>
                        <label>Datum en tijd:</label>
                    </div>
                    <div>
                        <input [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1" [(ngModel)]="metingModel.tijd"
                            formControlName="tijd">
                        <owl-date-time #dtPicker1></owl-date-time>
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
    <div class="center-button">
        <button [disabled]="!addMetingForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
    </div>

</form>