/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~ng-pick-datetime/assets/style/picker.min.css";


body { 
    font-family: Roboto, Arial, sans-serif;
     margin:5 auto;
     width: 100%;
 }
 .content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

 .main{
  display: inline-block;
padding: 15;
margin: 15;
 }

.modal-backdrop.fade
   {
     opacity: 0.5;
   }
   .modal-open .modal
   {
     opacity: 1;
   }

   .modal-dialog {
    position: absolute;
    top: 50%;
    /*half of the modal height*/
    margin-top: -100px;
    left: 40%;
    /*half of the modal width*/
    margin-left: -100px;
}
.login-card{
  text-align: center;
}


