/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~ng-pick-datetime/assets/style/picker.min.css";


body { 
    font-family: Roboto, Arial, sans-serif;
     margin:5 auto;
     width: 100%;
 }
 .content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

 .main{
  display: inline-block;
padding: 15;
margin: 15;
 }

.modal-backdrop.fade
   {
     opacity: 0.5;
   }
   .modal-open .modal
   {
     opacity: 1;
   }

   .modal-dialog {
     width:50%;
    position: absolute;
    top: 50%;
    /*half of the modal height*/
    margin-top: -100px;
    left: 40%;
    /*half of the modal width*/
    margin-left: -100px;
}
.login-card{
    text-align: center;
    display: block;
}

.center-button{
  margin: auto;
  width:30px;
  padding: 10px;
}
.center-title{
  margin: auto;
  width:600px;
  padding: 10px;
  text-align: center;
}
.center-body{
  margin: auto;
  width:100%;
  padding: 10px;
  text-align: center;
}

.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44%;
  border:3px solid #021a40;
}

.scroll{
  overflow: scroll;
  height:300px;
}
 .errorText{
   color:red;
 }

