<div class="container">
    <div class="card m-3 mb-5" style="width: 100%;">
        <img src="../../assets/Logo.png" class="card-img-top" alt="circuit-breakers logo">
        
        
        <div class="card-body text-center">
        <h1 class="card-title">Vinificatie Monitoring</h1>
        <div class="card-text">
            <h2 class="h5">
                Welkom op de vinificatiemontoring applicatie. Hier kan u virtueel wijnprocessen starten en opvolgen.
            </h2>
            <div *ngIf="!login">
            <p>
                Als u nog geen account heeft kan u aan een admin vragen om dit voor u aan te maken.</p>
            <p>
                Anders kan u zich aanmelden door op onderstaande knop te drukken.
            </p>
            </div>
            
        </div>
        </div>
        <div class="card-body text-center">
        <button *ngIf="!login" mat-raised-button color="primary" (click)="Login()" routerLink="/login">
            Ga naar login
            </button>
        </div>
    </div>
</div>