<form [formGroup]="createProcessForm" (ngSubmit)="onSubmit()">
    <h1>Start a new process</h1>
    <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center">
        <div fxFlex="20%">
            <p>
                <mat-form-field>
                    <mat-label>Kies een vat</mat-label>
                    <mat-select formControlName="vat">
                        <mat-option *ngFor="let vat of vaten" [value]="vat.vatId">
                            {{vat.nummer}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Kies een druifsoort</mat-label>
                    <mat-select formControlName="druif">
                        <mat-option *ngFor="let druif of druiven" [value]="druif.druifId">
                            {{druif.druifSoort}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-label>Kies een persmethode</mat-label>
                    <mat-select formControlName="pers">
                        <mat-option *ngFor="let pers of persen" [value]="pers.persMethodeId">
                            {{pers.persMethode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
        </div>
        <div fxFlex="20%">
            <p>
                <mat-form-field>
                    <input matInput placeholder="Pers hoeveelheid" formControlName="persHoeveelheid" type="text"
                        name="persHoeveelheid" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Oogst" formControlName="oogst" type="text" name="oogst" />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Bar" formControlName="bar" type="text" name="bar" />
                </mat-form-field>
            </p>
        </div>
        <div fxFlex="60%">

        </div>
    </div>
    
    <div class="row">
        <p class="ml-4">
            <button [disabled]="!createProcessForm.valid" mat-raised-button color="primary"
                type="submit">Submit</button>
        </p>

    </div>

</form>