<div class="container">
    <div *ngFor="let materiaal of (materialen | async)">
        <div class="row m-2">
            <div class="col-md"></div>
            <div class="col-md">
                {{materiaal.naam}}
            </div>
            <div class="col-md-2">
                <button mat-raised-button color="primary" (click)="open(content, materiaal)">Edit</button>
                <button mat-raised-button color="warn" (click)="Delete(materiaal)">Delete</button>
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Soort materiaal:</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Naam materiaal" [(ngModel)]="Model.naam" formControlName="naam"
                                type="text" name="Meting" />
                        </mat-form-field>
                    </p>
                    <button type="button" class="btn btn-outline-dark" (click)="Edit()"
                        (click)="modal.dismiss('Cross click')">Save</button>
                </form>
            </div>
        </form>
    </div>

</ng-template>